<html>
<head>
    <title>Create a new contact</title>
</head>
<body>

    <ul>
      <h1>You created a new contact!</h1>
      <li> Name: {{ newcontact.getName }}</li>
      <li> Phone: {{ newcontact.getPhone }}</li>
      <li> Address: {{ newcontact.getAddress }}</li>
      <br>
      <br>
    </ul>
    <a href="/">See all of your contact list</a>
</body>
</html>
