<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Add a new contact</title>
    </head>
    <body>
        <div class="container">
            <h1>Add a new contact!</h1>
            <form action="create_new" method="post">
                <div class="form-group">
                    <label for="name">Enter Name:</label>
                    <input id="name" type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="phone">Enter Phone:</label>
                    <input id="phone" type="text" name="phone" class="form-control">
                </div>
                <div class="form-group">
                    <label for="address">Enter Address:</label>
                    <input id = "address" type="text" name="address" class="form-control">
                </div>
                <button type="submit" class="btn-success">Submit</button>
            </form>
        </div>
    </body>
</html>
